{% extends "base.html" %}

{% load static %}

{% block titulo %}
Title
{% endblock %}

{% block searchBar %}
{% include "components/barra_pesquisa.html" with form=form %}
{% endblock %}

{% block navBar %}
{% include "components/navbar.html" with admin=admin %}
{% endblock %}


{% block content %}
<div class="container">

<h2 class="mb-3 mt-5">Carrinho</h2>

<table style='width:100%' class='table table-striped table-sm table-bordered'>
    <thead>
        <tr>
            <th class='texto text-center'>Categoria</th>
            <th class='texto text-center'>Nome</th>
            <th class='texto text-center'>Preço</th>
            <th class='texto text-center'>Quantidade</th>
            <th class='texto text-center'>Subtotal</th>
            <th class='texto text-center'>Operação</th>
        </tr>
    </thead>
    <tbody>

        {% for item_id,  subcategoria, produto, qtd, subtotal in produtos %}
        <tr id="{{produto.id}}">
            <td>{{subcategoria}}</td>
            <td>{{produto}}</td>
            <td>{{produto.preco}}</td>
            <td>{{qtd}}</td>
            <td>{{subtotal}}</td>
            <td>
                <form style='margin-bottom: 0px;'                            
                    action ="{% url 'carrinho:remover_do_carrinho' %}" 
                    method ='post'
                    data="{{subtotal}}"
                    novalidate
                > 
                  {% csrf_token %}                                          
                    <button type='button' class='btn btn-sm btn-danger remover' data="{{produto.id}}">             
                        <img src="{% static 'produto/images/skin/database_delete.png' %}"> Remover        
                    </button>                                                 
                 </form>  
            </td>
        </tr>
        

        {% endfor %}

        <tr>
            <td colspan='4' class='text-left'>
                <span class='texto font-weight-bold'>
                    Total...
                </span>
            </td>
            <td class='text-right pr-2'>
                <span id="total" class='texto font-weight-bold'>
                    {{ total }}
                </span>
            </td>

        </tr>
    </tbody>
</table>

</div>


{% endblock %}

{% block domready %}

$("tbody").on("click", "button.remover", function() {
    let produto_id = $(this).attr('data');

    let subtotal = parseFloat( $(this).parent().attr('data') );

    let novoTotal = parseFloat( $("#total").html() ) - subtotal;
    console.log(novoTotal);

    let formData = $(this).parent().serializeArray();

    let url =  $(this).parent().attr('action')
    console.log(url)

    var data = {
            produto_id: produto_id,
            csrfmiddlewaretoken: formData[0].value
        }

    console.log(data);

    $.post(url, data, function(resposta) {
        $('#' + produto_id.toString()).remove();

        $('#total').html(novoTotal);
    })
})


{% endblock %}