{% extends "base.html" %}

{% load static %}

{% block titulo %}
Title
{% endblock %}

{% block searchBar %}
{% include "components/barra_pesquisa.html" with form=form %}
{% endblock %}

{% block navBar %}
{% include "components/navbar.html" with admin=admin %}
{% endblock %}


{% block content %}
<div class="container">

<h2 class="mb-3 mt-5">Carrinho</h2>

<table style='width:100%' class='table table-striped table-sm table-bordered'>
    <thead>
        <tr>
            <th class='texto text-center'>Categoria</th>
            <th class='texto text-center'>Nome</th>
            <th class='texto text-center'>Preço</th>
            <th class='texto text-center'>Quantidade</th>
            <th class='texto text-center'>Subtotal</th>
            <th class='texto text-center'>Operação</th>
        </tr>
    </thead>
    <tbody>

        {% for item_id,  subcategoria, produto, qtd, subtotal in produtos %}
        <tr id="{{produto.id}}">

            <td class="subcategoria">{{subcategoria}}</td>

            <td class="produto">{{produto}}</td>

            <td class="preco">{{produto.preco}}</td>

            <td>
                <div class="d-flex flex-row justify-content-between align-items-center">
                    
                    <!-- Botão Menos -->
                    <form style='margin-bottom: 0px;'                            
                        action ="{% url 'carrinho:atualizar_quantidade' %}" 
                        method ='post'
                        data="{{produto.id}}"
                        novalidate
                    > 
                        {% csrf_token %} 
                        <button type="button" class="btn btn-outline-primary btn-sm rounded-pill alterar" data="{{False}}">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                    </form>  
                    <!--  -->

                    <!-- Quantidade -->
                    <span id="{{produto.id}}_qtd">{{qtd}}</span>
                    <!--  -->

                    <!-- Botão Mais -->
                    <form style='margin-bottom: 0px;'                            
                        action ="{% url 'carrinho:atualizar_quantidade' %}" 
                        method ='post'
                        data="{{produto.id}}"
                        novalidate
                    > 
                    {% csrf_token %} 
                        <button type="button" class="btn btn-outline-primary btn-sm rounded-pill alterar" data="{{True}}">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </form>  
                    <!--  -->
                </div>
            </td>

            <td id="{{produto.id}}_subtotal" class="subtotal">{{subtotal}}</td>

            <td>
                <form style='margin-bottom: 0px;'                            
                    action ="{% url 'carrinho:remover_do_carrinho' %}" 
                    method ='post'
                    data="{{subtotal}}"
                    novalidate
                > 
                    {% csrf_token %}                                          
                    <button type='button' class='btn btn-sm btn-danger remover' data="{{produto.id}}">             
                        <img src="{% static 'produto/images/skin/database_delete.png' %}"> Remover        
                    </button>                                                 
                 </form>  
            </td>
        </tr>
        

        {% endfor %}

        <tr>
            <td colspan='4' class='text-left'>
                <span class='texto font-weight-bold'>
                    Total...
                </span>
            </td>
            <td class='text-right pr-2'>
                <span id="total" class='texto font-weight-bold'>
                    {{ total }}
                </span>
            </td>

        </tr>
    </tbody>
</table>

</div>

{% endblock %}

{% block domready %}
    {% include "carrinho/carrinho.js" %}
{% endblock %}