
footer {
    position: fixed;
}

.card-img-top:hover {
    transform: scale(1);
}

.buy-now-btn {
    background-color: white;
    height: 50px;
    /* padding-horizontal: 2px; */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #007bff;
    border: solid 1px #007bff;
    border-radius: 3px;
    /* transition: all 5s; */
    transition: color 0.8s, 
                font-size 0.5s,
                border 0.4s,
                border-radius 0.7s,
                background 1s;
}

.buy-now-btn:hover {
    background: rgba(0, 123, 255, 0.6);
    color: #fff;
    font-size: 17px;
    border: solid 2px #007bff;
    border-radius: 10px;
}

.a-btn-like {
    cursor: default;
    outline: none;
}

.btn-like{
    cursor: pointer;
}