{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block titulo %}
            Loja Virtual
        {% endblock %}
    </title>

    <!-- Bootstrap CSS -->
    <link href="{% static 'produto/css/bootstrap.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <!-- Custom style -->
    <link href="{% static 'produto/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'produto/css/styles.css' %}" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block customStyles %}

    {% endblock %}

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Loja Virtual</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">

                <!-- Barra de pesquisa -->
                {% block searchBar %}

                {% endblock %}

                <ul class="navbar-nav">
                    {% block navBar %}

                    {% endblock %}

                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>


    <!-- Footer -->
    <footer class="footer bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Gabriel Bittencourt Leite 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <script src="{% static 'produto/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'produto/js/popper.js' %}"></script>
    <script src="{% static 'produto/js/bootstrap.js' %}"></script>
    <script src="{% static 'produto/js/script.js' %}"></script>

    <!-- Conteúdo javascript adicional -->
    {% block customScript %}    
    {% endblock %}

    <!-- Conteúdo javascript que será executado ao carregar a página -->
    <script>
        $(document).ready(function(){
            {% block domready %}

            {% endblock %}
        });
    </script>
    
</body>
    
</html>