{% extends "base.html" %}

{% load static %}

{% block titulo %}
    {{produto.subCategoria.nome}} {{produto.nome}}
{% endblock %}

{% block customStyles %}
    <link href="{% static 'produto/css/item.css' %}" rel="stylesheet">
{% endblock %}

{% block searchBar %}
    {% include "components/barra_pesquisa.html" %}
{% endblock %}


{% block content %}

    <div class="container py-3 px-md-5 bg-white">

        <!-- Passar url com parâmetros -->
        <!-- <h6>{% url 'produto:exibe_produto' id=1 slug_produto="les-paul-tribute" %}</h6> -->
        <!--  -->

        <div class="row mx-md-4 mx-sm-0 p-lg-0 py-md-1 py-sm-0 ">

            <div class="col-lg-5 col-md-6 col-sm-12 px-5 pt-3 d-flex justify-content-center">
                <img class="card-img-top img-fluid" style="height: 700px; width: 230px;" alt=""
                    src="{% static 'produto/images/' %}{{ produto.imagem }}">
            </div>

            <div class="col-lg-7 col-md-6 col-sm-12">

                <div class="card-body">
                    <h3 class="card-title" id="itemName">{{produto.subCategoria.nome}} {{produto.nome}}</h3>
                    <h4 class="mb-4">{{produto.marca}}</h4>
                    <h3 id="itemPrice">$ {{produto.preco}}</h3>
                    <p id="itemDescription" class="card-text">
                        {{produto.descricao}}
                    </p>

                </div>
                <div class="container d-flex flex-row justify-content-between p-3">
                    {% if form_remove_produto %}
                        <button type="button" class="buy-now-btn w-50 mr-4">
                            <span>Editar</span>
                        </button>

                        <form id="form_remove_produto" style="flex: 1; width: 100%" action="{% url 'produto:remover' %}"
                            method="post" novalidate
                        >
                            {% csrf_token %}
                            <button id="botao_remover" type="button" class="delete-btn w-100">
                                <span>Remover</span>
                            </button>
                        </form>
                    {% endif %}
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

{% endblock %}

{% block domready %}

    $("#botao_remover").click(function() {
        $("#form_remove_produto").append('{{ form_remove_produto.produto_id }}')
        $("#form_remove_produto").submit()
    })

{% endblock %}

