{% extends "base.html" %}

{% load static %}

{% block titulo %}
Title
{% endblock %}

{% block searchBar %}
{% include "components/barra_pesquisa.html" with form=form %}
{% endblock %}

{% block navBar %}
{% include "components/navbar.html" with admin=admin %}
{% endblock %}


{% block content %}
<div class="row bg-light">
    <!-- Barra lateral esquerda -->
    <div class="col-lg-3 mt-4">

        <!-- Categorias -->
        <div class="list-group mt-4">

            {% for cat, subcats in subcategorias.items %}

            {% with 'collapse'|add:cat.nome as target and '#collapse'|add:cat.nome as targetRef %}
            <div class="subcategories-group">
                <a class="list-group-item" data-toggle="collapse" href="{{targetRef}}" role="button"
                    aria-expanded="false" aria-controls="{{target}}">
                    {{ cat.nome }}
                </a>
                <!-- Subcategorias -->
                <div class="collapse" id="{{target}}">
                    {% with subcats as subs %}
                    {% for i in subs %}
                    <a class="dropdown-item text-primary" href="{{ i.get_absolute_path }}">{{i}}</a>
                    {% endfor %}
                    {% endwith %}
                </div>
            </div>
            {% endwith %}

            {% endfor %}

        </div>

    </div>
    <!-- /.col-lg-3 -->

    <!-- Principal -->
    <div class="col-lg-8 mb-4">

        <!-- Mensagens de erro -->
        {% if messages %}
        <div class="row mt-5">
            <div class="col-12">
                {% for message in messages %}
                <ul class="list-group rounded {{ message.tags }}">
                    <li style="padding-top: 7px; padding-bottom: 7px;"
                        class="list-group-item list-group-item-{% if message.tags == 'info' %}info{% else %}danger{% endif %}">
                        {{ message }}
                    </li>
                </ul>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!--  -->

        {% if admin %}
        <div class="row mt-5">
            <div class="col-12">
                <ul class="list-group rounded">
                    <li style="padding-top: 7px; padding-bottom: 7px;"
                        class="list-group-item list-group-item-info">
                        Modo administrador
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}

        <!-- Produtos -->
        <div class="row mt-5">

            {% for produto, subcategoria in produtos %}

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{{ produto.get_absolute_path}}{% if admin %}?admin=True{% endif %}" class="d-flex justify-content-center py-1">
                        <img class="card-img-top" style="width: 115px; height: 350px"
                            src="{% static 'produto/images/' %}{{ produto.imagem }}" alt="">
                    </a>
                    <div class="card-body d-flex flex-column align-items-start justify-content-between">
                        
                        <h4 class="card-title mb-3">
                            <a href="{{ produto.get_absolute_path}}{% if admin %}?admin=True{% endif %}" class="itemName">{{produto.nome}}</a>
                        </h4>

                        <h6 class="card-subtitle text-muted text-secondary mb-auto">
                            {{subcategoria.nome}} {{produto.marca}}
                        </h6>
                        
                        <h5 class="itemPrice align-self-start mt-4">$ {{produto.preco}}</h5>


                        {% if not admin %}

                            <div class="container">
                                <button type="button" class="add-cart-btn w-100">
                                    <span>Add to Cart</span>
                                </button>
                            </div>
     
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
        <!-- /.row -->

        <!-- Paginação -->
        {% if produtos.has_other_pages %}
        {% include "components/paginacao.html" with produtos=produtos %}
        {% endif %}
        <!--  -->

    </div>
    <!-- /.col-lg-9 -->

</div>
{% endblock %}